.records {
  display: flex;
  flex-wrap: wrap;
}
.records .box {
  flex: 25%;
  max-width: 25%;
  padding: 5px;
}
.records .box:nth-child(6) {
  flex: 20%;
  max-width: 20%;
}
.records .box:nth-child(7) {
  flex: 30%;
  max-width: 30%;
}

@media only screen and (max-width: 991px) {
  .records .box {
    flex: 50% !important;
    max-width: 50% !important;
    padding: 5px;
  }
}
@media only screen and (max-width: 575px) {
  .records .box {
    flex: 100% !important;
    max-width: 100% !important;
    padding: 5px;
  }
}
