.card {
  border-radius: 5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px;
  z-index: 1;
}

.header h1 {
  color: #262626;
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
}

.header p {
  font-size: 15px;
  line-height: 26px;
  color: #808080;
  text-align: center;
  display: flex;
  align-items: center;
}

.header p svg {
  margin-right: 5px;
}
