.section {
  width: 100%;
  text-align: center;
}

.heading {
  margin: 10px 0;
  color: #262626;
  font-weight: 600;
  font-size: 26px;
  line-height: 42px;
}

.para {
  margin-bottom: 20px;
  color: #808080;
  font-size: 14px;
  line-height: 18px;
}
